<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontSize</key>
	<dict>
		<key>textsize015</key>
		<dict>
			<key>5</key>
			<string>textsize015</string>
			<key>6p</key>
			<string>textsize015</string>
		</dict>
		<key>textsize014</key>
		<dict>
			<key>5</key>
			<string>textsize014</string>
			<key>6p</key>
			<string>textsize014</string>
		</dict>
		<key>textsize013</key>
		<dict>
			<key>5</key>
			<string>textsize013</string>
			<key>6p</key>
			<string>textsize013</string>
		</dict>
		<key>textsize012</key>
		<dict>
			<key>5</key>
			<string>textsize012</string>
			<key>6p</key>
			<string>textsize012</string>
		</dict>
		<key>textsize010</key>
		<dict>
			<key>5</key>
			<string>textsize010</string>
			<key>6p</key>
			<string>textsize010</string>
		</dict>
		<key>textsize011</key>
		<dict>
			<key>5</key>
			<string>textsize011</string>
			<key>6p</key>
			<string>textsize011</string>
		</dict>
		<key>textsize001</key>
		<dict>
			<key>5</key>
			<string>textsize001</string>
			<key>6p</key>
			<string>textsize001</string>
		</dict>
		<key>textsize002</key>
		<dict>
			<key>5</key>
			<string>textsize002</string>
			<key>6p</key>
			<string>textsize002</string>
		</dict>
		<key>textsize003</key>
		<dict>
			<key>5</key>
			<string>textsize003</string>
			<key>6p</key>
			<string>textsize003</string>
		</dict>
		<key>textsize004</key>
		<dict>
			<key>5</key>
			<string>textsize004</string>
			<key>6p</key>
			<string>textsize004</string>
		</dict>
		<key>textsize005</key>
		<dict>
			<key>5</key>
			<string>textsize004</string>
			<key>6p</key>
			<string>textsize005</string>
		</dict>
		<key>textsize006</key>
		<dict>
			<key>5</key>
			<string>textsize005</string>
			<key>6p</key>
			<string>textsize007</string>
		</dict>
		<key>textsize007</key>
		<dict>
			<key>5</key>
			<string>textsize006</string>
			<key>6p</key>
			<string>textsize008</string>
		</dict>
		<key>textsize008</key>
		<dict>
			<key>5</key>
			<string>textsize007</string>
			<key>6p</key>
			<string>textsize008</string>
		</dict>
		<key>textsize009</key>
		<dict>
			<key>5</key>
			<string>textsize016</string>
			<key>6p</key>
			<string>textsize009</string>
		</dict>
	</dict>
</dict>
</plist>
