<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorsize</key>
	<dict>
		<key>textfont</key>
		<dict>
			<key>textsize001</key>
			<string>12</string>
			<key>textsize002</key>
			<string>13</string>
			<key>textsize003</key>
			<string>14</string>
			<key>textsize004</key>
			<string>15</string>
			<key>textsize005</key>
			<string>16</string>
			<key>textsize006</key>
			<string>17</string>
			<key>textsize007</key>
			<string>18</string>
			<key>textsize008</key>
			<string>19</string>
			<key>textsize009</key>
			<string>21</string>
			<key>textsize010</key>
			<string>10</string>
			<key>textsize011</key>
			<string>11</string>
			<key>textsize012</key>
			<string>9</string>
			<key>textsize013</key>
			<string>24</string>
			<key>textsize014</key>
			<string>38</string>
			<key>textsize015</key>
			<string>8</string>
		</dict>
		<key>textcolor</key>
		<dict>
			<key>textcolor001</key>
			<string>#000000</string>
			<key>textcolor002</key>
			<string>#333333</string>
			<key>textcolor003</key>
			<string>#4a4a4a</string>
			<key>textcolor004</key>
			<string>#666666</string>
			<key>textcolor005</key>
			<string>#999999</string>
			<key>textcolor006</key>
			<string>#b5b5b5</string>
			<key>textcolor007</key>
			<string>#cccccc</string>
			<key>textcolor008</key>
			<string>#ffffff</string>
			<key>textcolor009</key>
			<string>#ffffff</string>
			<key>textcolor010</key>
			<string>#4680d1</string>
			<key>textcolor011</key>
			<string>#da4643</string>
			<key>textcolor012</key>
			<string>#ff800d</string>
			<key>textcolor013</key>
			<string>#ffb523</string>
			<key>textcolor014</key>
			<string>#45c186</string>
		</dict>
		<key>bgcolor</key>
		<dict>
			<key>bgcolor01</key>
			<string>#f8f8f8</string>
			<key>bgcolor43</key>
			<string>#cccccc</string>
			<key>bgcolor02</key>
			<string>#d9d9d9</string>
			<key>bgcolor03</key>
			<string>#e9e9e9</string>
			<key>bgcolor04</key>
			<string>#e9e9e9</string>
			<key>bgcolor05</key>
			<string>#f6f6f6</string>
			<key>bgcolor06</key>
			<string>#e3e4e6</string>
			<key>bgcolor07</key>
			<string>#d7d7d7</string>
			<key>bgcolor08</key>
			<string>#da4643</string>
			<key>bgcolor09</key>
			<string>#28b46b</string>
			<key>bgcolor10</key>
			<string>#f1f1f1</string>
			<key>bgcolor11</key>
			<string>#e6e6e6</string>
			<key>bgcolor12</key>
			<string>#ffb52b</string>
			<key>bgcolor13</key>
			<string>#1f1f1f</string>
			<key>bgcolor14</key>
			<string>#4680d1</string>
			<key>bgcolor15</key>
			<string>#fcfcfc</string>
			<key>bgcolor16</key>
			<string>#4680d1</string>
			<key>bgcolor17</key>
			<string>#fef9c1</string>
			<key>bgcolor18</key>
			<string>#d7d7d7</string>
			<key>bgcolor19</key>
			<string>#000000</string>
			<key>bgcolor20</key>
			<string>#5a5a5a</string>
			<key>bgcolor21</key>
			<string>#333333</string>
			<key>bgcolor22</key>
			<string>#f8f8f8</string>
			<key>bgcolor23</key>
			<string>#25aa65</string>
			<key>bgcolor24</key>
			<string>#cccccc</string>
			<key>bgcolor25</key>
			<string>#c6c6c6</string>
			<key>bgcolor26</key>
			<string>#e0e0e0</string>
			<key>bgcolor27</key>
			<string>#999999</string>
			<key>bgcolor28</key>
			<string>#e4e4e4</string>
			<key>bgcolor29</key>
			<string>#fcfcfc</string>
			<key>bgcolor30</key>
			<string>#cccccc</string>
			<key>bgcolor31</key>
			<string>#f4f4f4</string>
			<key>bgcolor32</key>
			<string>#f0f0f0</string>
			<key>bgcolor33</key>
			<string>#dddddd</string>
			<key>bgcolor34</key>
			<string>#fbfbfb</string>
			<key>bgcolor35</key>
			<string>#eeeeee</string>
			<key>bgcolor36</key>
			<string>#006ef0</string>
			<key>bgcolor37</key>
			<string>#82be1e</string>
			<key>bgcolor38</key>
			<string>#30ca4a</string>
			<key>bgcolor39</key>
			<string>#ff0000</string>
			<key>bgcolor40</key>
			<string>#ffffff</string>
			<key>bgcolor41</key>
			<string>#b5b5b5</string>
			<key>bgcolor42</key>
			<string>#000000</string>
			<key>bgcolor45</key>
			<string>#d8dbe0</string>
			<key>bgcolor46</key>
			<string>#ff9900</string>
			<key>bgcolor44</key>
			<string>#006aff</string>
			<key>bgcolor48</key>
			<string>#cdcdcd</string>
			<key>bgcolor49</key>
			<string>#ffffff</string>
			<key>bgcolor50</key>
			<string>#999999</string>
		</dict>
	</dict>
</dict>
</plist>
